:root {
    --font-main: 'Helvetica Neue';
    --text-black: #000;
    --text-dark: #2f3441;
    --text-normal: #6b7683;
    --text-light: #9b9b9b;
    --text-light-extra: #c0c0c0;
    --text-white: #ffffff;
    --accent: #00aaff;
    --accent-darker: #2d55d2;
    --grad-green: linear-gradient(102deg, #39e75b, #2db747);
    --grad-green-fallback: #2db747;
    --grad-grey: linear-gradient(116deg, #fcfcfc, #f5f6fa 100%);
    --grad-grey-fallback: #f5f6fa;
    --grad-grey-dark: linear-gradient(116deg, #d4d4d4, #b5b5b5 100%);
    --grad-grey-dark-fallback: #2f3441;
    --color-green: #44c31e;
    --color-red: #eb7359;
    --color-grey: #c4c8c3;
    --color-grey-light: #fbfbfb;
    --color-blue: #00aaff;
    --skew: -7deg;
}